@import './base.css';

body {
  font-family: Ubuntu;
}

h1, h2, h3, h4, h5 {
  font-family: Jura;
}

header {
  display: flex;
  place-items: center;
  width: 100%;
  line-height: 1.5;
  max-height: 100vh;
  padding-bottom: 0.7rem;
  border-bottom: 1px solid var(--color-border);
}


.nav-wrapper{
  display: inline-block;
  margin-left: auto;
  font-size: 1.25rem;
}

nav a {
  border-left: 1px solid var(--color-border);
  padding: 0.7rem;
}

nav a.router-link-exact-active {
  color: var(--color-text);
}

nav a.router-link-exact-active:hover {
  background-color: transparent;
}

nav a:first-of-type {
  border: 0;
}

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  font-weight: normal;
}

section {
  background-color: #222327;
  margin: 0.5rem 0;
  padding: 0.5rem;
  border-radius: 10px;
}

section h2 {
  padding: 0.5rem 0;
}

section p {
  margin-bottom: 1rem;
}

section p:last-of-type {
  margin-bottom: 0;
}

a {
  text-decoration: none;
  color: var(--color-text-accent);
  transition: 0.4s;
  padding: 3px;
}

footer {
  display: flex;
  justify-content: space-between;
  padding-top: 0.7rem;
  border-top: 1px solid var(--color-border);
}

.footer-item {
  display: flex;
  justify-content: space-between;
}

.footer-subitem {
  padding: 0 0.25rem;
  border-right: 1px solid var(--color-border);
}

.footer-subitem:last-of-type {
  border-right: none;
}

@media (hover: hover) {
  a:hover {
    text-decoration: underline;
    text-decoration-color: var(--color-text-accent);
  }
}


.header-name {
  font-size: 2.25rem;
}

.header-name-rl-override {
  color: var(--color-text);
  background-color: none;
  text-decoration: none;
  transition: none;
  transform: none;
}
